@font-face {
  font-family: "Open Sans Bold";
  src: url(../fonts/opensans/OpenSans-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/opensans/OpenSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Open Sans Semibold";
  src: url(../fonts/opensans/OpenSans-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Open Sans Light";
  src: url(../fonts/opensans/OpenSans-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto Light";
  src: url(../fonts/opensans/Roboto-Light.ttf) format("truetype");
}

* {
  user-select: none;
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: block;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
  background: #254053;
  color: #FFF;
}

h1 {
  margin: 0 0 10px 0;
  font-weight: 600;
  line-height: 1.2;
}

p {
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.4);
}

.container {
  display: flex;
  margin: auto;
  padding: 0;
  background: transpatent;
  width: 100%;
  height: 100%;
}

.leftSide {
  background: #4073cf;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: transpatent;
  width: 100%;
  height: 100%;
  -webkit-app-region: drag;
}

.board {
  background-color: #274375;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 83%;
  width: 97%;
  -webkit-app-region: no-drag;
}

table {
  width: 100%;
  table-layout: fixed;
}

.tbl-content {
  height: 100%;
  overflow-x: auto;
}

tr {
  display: flex;
}

.cellContentAll {
  margin-top: 5px;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 5px;
  borde border-radius: 5px;
  box-shadow: 0px 5px 20px #2e2e2e;
  background: #f6f6f6;
  height: 105px;
  width: 98%;
  display: flex;
  flex-direction: column;
  transition: transform .2s;
  transition: 0.3s ease;
}

.cellContentAll:hover {
  background: #2c3e50;
}

.cellContentTitle {
  background-image: linear-gradient(to bottom right, #3c546b, #2c3e50);
  height: 35%;
  width: 100%;
}

.cellContentTitle span {
  font-family: "Segoe UI Semibold", sans-serif;
  font-size: 23px;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 10px;
}

.cellContentDown {
  color: #34495e;
  font-family: "Segoe UI", sans-serif;
  font-weight: 500;
  font-size: 15px;
  height: 65%;
  width: 100%;
  display: flex;
}

.cellContentLeft {
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 35%;
  padding-left: 10px;
}

.cellContentMiddle {
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 35%;
  padding-left: 10px;
}

.cellContentRight {
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-left: 1px solid #dfdfdf;
  height: 100%;
  width: 30%;
}

.statusTag {
  background: #1e3db3;
  width: 160px;
  height: 40px;
}

::-webkit-scrollbar {
  width: 15px;
}

.tbl-content:hover~::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.buttonBarClass {
  background-color: #34495e;
  margin-left: auto;
  margin-right: auto;
  height: 13%;
  width: 97%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-app-region: no-drag;
}

.tagBoardClass {
  user-select: none;
  margin: auto;
  text-decoration: none;
  letter-spacing: 4px;
  color: #ecf0f1;
  font-family: "Franklin Gothic Heavy", sans-serif;
  font-size: 90px;
}

#buttonBar div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonNewClass {
  height: 60%;
  width: 250px;
}

.buttonCloseClass {
  height: 60%;
  width: 200px;
}

.buttonPauseClass, .buttonRestartClass {
  height: 60%;
  width: 165px;
}

/* //////////////////////////////////// */
.buttonNewClass {
  margin-left: auto;
  margin-right: 80px;
  background: #2ecc71;
  transition: transform .2s;
  transition: 0.3s ease;
}

.iconNew {
  user-select: none;
  margin-left: auto;
  width: 28px;
  padding-bottom: 2px;
  margin-right: 12px;
  transition: transform .2s;
  color: #c8c8c8;
  font-size: 25px;
  font-family: "Segoe UI Semibold", sans-serif;
}

@keyframes bounce {
  0% {
    transform: translateY(0) scale(1);
  }

  20% {
    transform: translateY(-5px) scale(1.05);
  }

  60% {
    transform: translateY(3px) scale(1.06);
  }

  80% {
    transform: translateY(3px) scale(1.1);
  }

  100% {
    transform: translateY(0) scale(1.1);
  }
}

.buttonNewClass:hover {
  margin-left: auto;
  margin-right: 60px;
  width: 260px;
  background: #27ae60;
}

.buttonNewClass:hover>.iconNew {
  color: #114035;
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-timing-function: linear;
  animation-iteration-count: linear;
  animation-name: bounce;
  transform: scale(1.1);
}

.textNew {
  margin-right: auto;
  padding-bottom: 1px;
  user-select: none;
  color: #ecf0f1;
  font-size: 17px;
  font-family: "Segoe UI Semibold", sans-serif;
}

@keyframes bounce2 {
  0%, {
    opacity: 1;
  }

  20% {
    opacity: .5;
  }

  60% {
    opacity: 0;
  }

  80% {
    opacity: .5;
  }

  100%, {
    opacity: 1;
  }
}

.buttonNewClass:hover>.textNew {
  animation-duration: .3s;
  animation-fill-mode: both;
  animation-timing-function: linear;
  animation-iteration-count: linear;
  animation-name: bounce2;
  transform: translateX(3px);
}

/* ///////////////////////////////// */
.buttonRestartClass {
  background: #3498db;
  border-style: solid;
  border-width: 2px;
  border-top: 0px;
  border-bottom: 0px;
  border-left: 1px;
  border-color: #2980b9;
  transition: transform .2s;
  transition: 0.3s ease;
}

.textRestart {
  margin-left: 2px;
  margin-right: auto;
  padding-bottom: 1px;
  user-select: none;
  color: #ecf0f1;
  font-size: 17px;
  font-family: "Segoe UI Semibold", sans-serif;
}

.iconRestart {
  user-select: none;
  margin-left: auto;
  width: 28px;
  padding-bottom: 2px;
  margin-right: -25px;
  transition: transform .2s;
  color: #c8c8c8;
  font-size: 25px;
  font-family: "Segoe UI Semibold", sans-serif;
}

.buttonRestartClass:hover>.textRestart {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: linear;
  -webkit-animation-iteration-count: linear;
  -webkit-animation-name: bounce2;
  animation-name: bounce2;
  transform: translateX(3px) scale(1.04);
}

.buttonRestartClass:hover {
  margin-left: -20px;
  width: 170px;
  background: #2980b9;
  transform: scale(1.1);
}

.buttonRestartClass:hover>.iconRestart {
  color: #114035;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: linear;
  -webkit-animation-iteration-count: linear;
  -webkit-animation-name: bounce;
  animation-name: bounce;
  transform: scale(1.1);
}

.buttonRestartClass:hover>.iconRestart {
  margin-right: 15px;
  content: url('../image/play.png');
}

/* ///////////////////////////////// */
.buttonPauseClass {
  background: #3498db;
  transition: transform .2s;
  transition: 0.3s ease;
}

.buttonPauseClass:hover {
  margin-right: -40px;
  width: 210px;
  background: #2980b9;
  transform: scale(1.1);
}

.textPause {
  margin-left: 15px;
  margin-right: auto;
  padding-bottom: 1px;
  user-select: none;
  color: #ecf0f1;
  font-size: 17px;
  font-family: "Segoe UI Semibold", sans-serif;
}

.iconPause {
  user-select: none;
  margin-left: 0px;
  width: 0px;
  padding-bottom: 2px;
  margin-right: 0px;
  transition: transform .2s;
  color: #c8c8c8;
}

.buttonPauseClass:hover>.textPause {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: linear;
  -webkit-animation-iteration-count: linear;
  -webkit-animation-name: bounce2;
  animation-name: bounce2;
  transform: translateX(3px) scale(1.04);
}

.buttonPauseClass:hover>.buttonPause {
  color: #114035;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: linear;
  -webkit-animation-iteration-count: linear;
  -webkit-animation-name: bounce;
  animation-name: bounce;
  transform: scale(1.1);
}

.buttonPauseClass:hover>.iconPause {
  color: #114035;
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-timing-function: linear;
  animation-iteration-count: linear;
  animation-name: bounce;
  transform: scale(1.1);
}

.buttonPauseClass:hover>.iconPause {
  width: 28px;
  margin-right: 12px;
  content: url('../image/pause.png');
}

/* ///////////////////////////////// */
.buttonCloseClass {
  margin-left: 80px;
  margin-right: auto;
  background: #ef5350;
  transition: transform .2s;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.iconClose {
  user-select: none;
  margin-left: auto;
  width: 28px;
  padding-bottom: 2px;
  margin-right: 12px;
  transition: transform .2s;
  color: #c8c8c8;
  font-size: 25px;
  font-family: "Segoe UI Semibold", sans-serif;
}

.buttonCloseClass:hover {
  margin-left: 60px;
  margin-right: auto;
  width: 210px;
  background: #e53935;
  transform: scale(1.1);
}

.buttonCloseClass:hover>.iconClose {
  color: #114035;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-timing-function: linear;
  animation-iteration-count: linear;
  animation-name: bounce;
  transform: scale(1.1);
}

.textClose {
  margin-left: auto;
  padding-bottom: 1px;
  user-select: none;
  color: #ecf0f1;
  font-size: 17px;
  font-family: "Segoe UI Semibold", sans-serif;
}

.buttonCloseClass:hover>.textClose {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: linear;
  -webkit-animation-iteration-count: linear;
  -webkit-animation-name: bounce2;
  animation-name: bounce2;
  transform: translateX(3px) scale(1.04);
}

/* ///////////////////////////////// */
.rigthSide {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #2D3646;
  width: 25%;
  height: 100%;
}

.titlebarClass {
  display: flex;
  height: 32px;
  width: 100%;
  -webkit-app-region: drag;
}

.titlebarSideA {
  height: 100%;
  width: 60%;
}

.titleTextBox {
  height: 100%;
  display: flex;
}

.titlebarSideA span {
  margin: auto;
  text-align: center;
  font-family: "Open Sans Bold", sans-serif;
  font-size: 13px;
}

.titlebarSideB {
  height: 100%;
  width: 50%;
}

.titleControls {
  height: 100%;
  width: 100%;
  background: #2f5fb4;
  display: flex;
}

.button {
  -webkit-app-region: no-drag;
  display: flex;
  height: 100%;
  width: 33.2%;
}

.button img {
  margin: auto;
}

.buttonMin:hover {
  background: rgba(186, 186, 186, 0.4);
}

.buttonMax:hover {
  background: rgba(186, 186, 186, 0.4);
}

.buttonClo:hover {
  background: #e33b3b;
}

.minb {
  width: 13px;
}

.maxb {
  width: 13px;
}

.clob {
  width: 13px;
}

.slideBar {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background: transpatent;
  height: 74%;
  width: 95%;
}

.allButtons {
  background: transpatent;
  width: 100%;
  height: 30%;
}

.listWorks {
  background: #34495e;
  width: 100%;
  height: 75%;
}

.titleListWorks {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #34495e;
}

.tagTitleListWorksClass {
  text-decoration: none;
  color: #ecf0f1;
  font-size: 20px;
  font-family: "Segoe UI Semibold", sans-serif;
}

.allButtons {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.smallButtons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 35%;
}

.smallButtons div {
  margin-bottom: auto;
  height: 51px;
  width: 58px;
}

.b1Class {
  padding-top: 2px;
  border-bottom: 4px solid #1d62bd;
  display: flex;
  transition: transform .2s;
  transition: 0.3s all ease;
}

.img1 {
  margin: auto;
  transform: rotate(50deg);
  width: 35px;
  transition: transform .2s;
  transition: 0.3s ease;
}

.b1Class:hover {
  border-bottom: 4px solid #bd221d;
  background: rgba(70, 70, 70, 0.67);
  transition: transform .2s;
  transition: 0.3s ease;
}

.b1Class:hover>.img1 {
  animation-name: spin;
  animation-duration: 800ms;
  animation-iteration-count: linear;
  animation-timing-function: linear;
}

@keyframes spin {
  0% {
    transform: rotate(50deg);
  }

  39% {
    transform: rotate(0deg);
  }

  40% {
    transform: rotate(50deg);
  }

  70% {
    transform: rotate(250deg);
  }

  100% {
    transform: rotate(230deg);
  }
}

.bigButtons {
  display: flex;
  height: 66%;
  width: 100%;
  margin-bottom: 2px;
  flex-direction: column;
  justify-content: flex-end;
}

.bigButtons div {
  margin-top: 2px;
  margin-bottom: 2px;
  background: #34495e;
  width: 100%;
  height: 47px;
}

.boxListWorksClass {
  display: flex;
  flex-direction: column;
  transition: transform .2s;
  transition: 0.3s ease;
}

.boxListWorksClass p {
  margin-right: auto;
  margin-left: auto;
  transition: transform .2s;
  transition: 0.3s ease;
  color: #ffffff;
  font-family: "Segoe UI Semibold", sans-serif;
  font-size: 20px;
}

.areaButton {
  margin: auto;
  background: #34495e;
  height: 12.5%;
  width: 95%;
}

.areaSet {
  display: flex;
  width: 100%;
  height: 100%;
}

.tagAreaClass {
  user-select: none;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  text-decoration: none;
  color: #ecf0f1;
  font-size: 60px;
  font-family: "Segoe UI", sans-serif;
  font-weight: bold;
}