* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: block;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
  background: #48545c;
  color: #FFF;
  border: 1px solid #48545c;
}

h1 {
  margin: 0 0 10px 0;
  font-weight: 600;
  line-height: 1.2;
}

p {
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.4);
}

#titlebar {
  display: block;
  margin: auto;
  height: 32px;
  width: calc(100%-2);
  /*Compensate for body 1px border*/
  background: #254053;
  margin: auto;
  color: #FFF;
}

#titlebar {
  padding: 4px;
}

#titlebar #drag-region {
  width: 100%;
  height: 100%;
  width: calc(100%-2);
}

#titlebar {
  color: #FFF;
}

#window-controls {
  display: grid;
  grid-template-columns: repeat(3, 46px);
  position: absolute;
  top: 0;
  right: 0;
  font-family: "Segoe UI Symbol";
  height: 33px;
}

.minb {
  font-size: 19px;
}

.maxb {
  font-size: 20px;
}

.clob {
  font-size: 23px;
}

#window-controls .button {
  grid-row: 0 / span 3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#window-controls #min-button {
  grid-column: 1;
}

#window-controls #max-button, #window-controls #restore-button {
  grid-column: 2;
}

#window-controls #close-button {
  grid-column: 3;
}

#window-controls {
  -webkit-app-region: no-drag;
}

#window-controls .button {
  user-select: none;
  cursor: default;
  opacity: 0.8;
}

#window-controls .button:hover {
  background: rgba(255, 255, 255, 0.2);
  opacity: 1;
}

#window-controls #close-button:hover {
  background: #E81123;
}

#window-controls #restore-button {
  display: none;
}

#titlebar #drag-region {
  display: grid;
  grid-template-columns: auto 138px;
}

#window-title {
  grid-column: 1;
  display: flex;
  align-items: center;
  font-family: "Segoe UI", sans-serif;
  font-size: 13px;
  margin-left: 5px;
  overflow-x: hidden;
  -webkit-app-region: drag;
}

#window-title span {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.7;
}

.container {
  display: flex;
  margin: auto;
  padding: 0;
  background: white;
  width: 100%;
  height: calc(100% - 32px);
}

.leftSide {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: white;
  width: 78%;
  height: 97%;
}

.rigthSide {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: 10px;
  background: #34495e;
  width: 20%;
  height: 97%;
}

.board {
  background-color: #ef5350;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 84%;
  width: 99%;
}

.buttonBarClass {
  background-color: #34495e;
  margin: auto;
  height: 13%;
  width: 99%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tagBoardClass {
  margin: auto;
  text-decoration: none;
  text-shadow: 7px 5px 3px #2e2e2e;
  letter-spacing: 4px;
  color: #ecf0f1;
  font-family: "Franklin Gothic Heavy", sans-serif;
  font-size: 7em;
}

#buttonBar div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonNewClass {
  height: 60%;
  width: 250px;
}

.buttonCloseClass {
  height: 60%;
  width: 200px;
}

.buttonPauseClass, .buttonRestartClass {
  height: 60%;
  width: 12%;
}

/* //////////////////////////////////// */
.buttonNewClass {
  margin-left: auto;
  margin-right: 120px;
  background: #25b963;
  transition: transform .2s;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.iconNew {
  margin-left: auto;
  width: 28px;
  padding-bottom: 2px;
  margin-right: 12px;
  transition: transform .2s;
  color: #c8c8c8;
  font-size: 25px;
  font-family: "Segoe UI Semibold", sans-serif;
}

@keyframes bounce {
  0%, {
    transform: translateY(0) scale(1);
  }

  20% {
    transform: translateY(-5px) scale(1.05);
  }

  60% {
    -webkit-transform: translateY(3px) scale(1.06);
  }

  80% {
    -webkit-transform: translateY(3px) scale(1.1);
  }

  100%, {
    transform: translateY(0) scale(1.1);
  }
}

.buttonNewClass:hover {
  margin-left: auto;
  margin-right: 80px;
  width: 260px;
  background: #22b05e;
  transform: scale(1.1);
}

.buttonNewClass:hover>.iconNew {
  color: #114035;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: linear;
  -webkit-animation-iteration-count: linear;
  -webkit-animation-name: bounce;
  animation-name: bounce;
  transform: scale(1.1);
}

.textNew {
  margin-right: auto;
  padding-bottom: 1px;
  user-select: none;
  color: #ecf0f1;
  font-size: 17px;
  font-family: "Segoe UI Semibold", sans-serif;
}

@keyframes bounce2 {
  0%, {
    transform: scale(1);
  }

  20% {
    transform: translateX(1px) scale(1.01);
  }

  60% {
    -webkit-transform: translateX(2px) scale(1.020);
  }

  80% {
    -webkit-transform: translateX(2px) scale(1.030);
  }

  100%, {
    -webkit-transform: translateX(3px) scale(1.040);
  }
}

.buttonNewClass:hover>.textNew {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: linear;
  -webkit-animation-iteration-count: linear;
  -webkit-animation-name: bounce2;
  animation-name: bounce2;
  transform: translateX(3px) scale(1.04);
}

/* ///////////////////////////////// */
.buttonRestartClass {
  background: #457ac8
}

/* ///////////////////////////////// */
.buttonPauseClass {
  background: #457ac8
}

/* ///////////////////////////////// */
.buttonCloseClass {
  margin-left: 120px;
  margin-right: auto;
  background: #ef5350;
  transition: transform .2s;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.iconClose {
  margin-left: auto;
  width: 28px;
  padding-bottom: 2px;
  margin-right: 12px;
  transition: transform .2s;
  color: #c8c8c8;
  font-size: 25px;
  font-family: "Segoe UI Semibold", sans-serif;
}

.buttonCloseClass:hover {
  margin-left: 80px;
  margin-right: auto;
  width: 210px;
  background: #e53935;
  transform: scale(1.1);
}

.buttonCloseClass:hover>.iconClose {
  color: #114035;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: linear;
  -webkit-animation-iteration-count: linear;
  -webkit-animation-name: bounce;
  animation-name: bounce;
  transform: scale(1.1);
}

.textClose {
  margin-left: auto;
  padding-bottom: 1px;
  user-select: none;
  color: #ecf0f1;
  font-size: 17px;
  font-family: "Segoe UI Semibold", sans-serif;
}

.buttonCloseClass:hover>.textClose {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: linear;
  -webkit-animation-iteration-count: linear;
  -webkit-animation-name: bounce2;
  animation-name: bounce2;
  transform: translateX(3px) scale(1.04);
}

/* ///////////////////////////////// */