* {
  margin: 0;
  padding: 0;
  border: 0;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: block;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
  background: #254053;
  color: #FFF;
  border-bottom: 5px solid #254053;
  border-right: 5px solid #254053;
  border-left: 5px solid #254053;
}

h1 {
  margin: 0 0 10px 0;
  font-weight: 600;
  line-height: 1.2;
}

p {
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.4);
}

#titlebar {
  display: block;
  margin: auto;
  height: 32px;
  width: calc(100%-2);
  /*Compensate for body 1px border*/
  background: #254053;
  margin: auto;
  color: #FFF;
}

#titlebar {
  padding: 4px;
}

#titlebar #drag-region {
  width: 100%;
  height: 100%;
  width: calc(100%-2);
}

#titlebar {
  color: #FFF;
}

#window-controls {
  display: grid;
  grid-template-columns: repeat(3, 46px);
  position: absolute;
  top: 0;
  right: 0;
  font-family: "Segoe UI Symbol";
  height: 32px;
}

.minb {
  width: 16px;
}

.maxb {
  width: 15px;
}

.clob {
  width: 15px;
}

#window-controls .button {
  grid-row: 0 / span 3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: transform .2s;
  transition: 0.3s ease;
}

#window-controls #min-button {
  grid-column: 1;
}

#window-controls #max-button, #window-controls #restore-button {
  grid-column: 2;
}

#window-controls #close-button {
  grid-column: 3;
}

#window-controls {
  -webkit-app-region: no-drag;
}

#window-controls .button {
  user-select: none;
  cursor: default;
  opacity: 0.8;
}

#window-controls .button:hover {
  background: rgba(255, 255, 255, 0.2);
  opacity: 1;
}

#window-controls #close-button:hover {
  background: #E81123;
}

#window-controls #restore-button {
  display: none;
}

#titlebar #drag-region {
  display: grid;
  grid-template-columns: auto 138px;
}

#window-title {
  user-select: none;
  grid-column: 1;
  display: flex;
  align-items: center;
  font-family: "Segoe UI Semibold", sans-serif;
  font-size: 12px;
  margin-left: 5px;
  overflow-x: hidden;
  -webkit-app-region: drag;
}

#window-title span {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.7;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 0;
  /* background: #2ecc71;
    background: #254053; */
  background: #254053;
  width: 100%;
  height: calc(100% - 32px);
}

.sideUp {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: 10px;
  height: 75%;
  width: 95%;
}

.box1 {
  display: flex;
  height: 20%;
  width: 100%;
}

.tagTitle {
  margin: auto;
  margin-bottom: 35px;
  font-family: "Segoe UI Semibold", sans-serif;
  font-size: 45px;
}

.box2 {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  margin: auto;
}

.boxSpan {
  display: flex;
  align-items: center;
  flex-direction: column;
  vertical-align: middle;
  height: 100%;
  width: 35%;
}

.boxInput {
  display: flex;
  align-items: center;
  flex-direction: column;
  vertical-align: middle;
  height: 100%;
  width: 65%;
}

.ls {
  height: 35px;
  width: 300px;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: auto;
  text-align: right;
  font-family: "Segoe UI Light", sans-serif;
  font-size: 28px;
}

.lb {
  margin-left: 10px;
  margin-right: auto;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-left: 10px;
  height: 40px;
  width: 300px;
  background: #1F3544;
  color: #ebebeb;
  font-family: "Segoe UI Semibold", sans-serif;
  font-size: 15px;
  border: 3px solid #34495e;
  transition: transform .2s;
  transition: 0.3s ease;
}

@keyframes blink {
  0% {
    border: 3px solid #34495e;
  }

  50% {
    border: 3px solid #3498db;
  }

  100% {
    border: 3px solid #34495e;
  }
}

.lb:focus {
  outline: none;
  animation-name: blink;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  border: 3px solid #34495e;
}

.lb2 {
  margin-left: 10px;
  margin-right: auto;
  margin-top: 2px;
  margin-bottom: 10px;
  height: 40px;
  width: 400px;
  color: #ebebeb;
  font-family: "Segoe UI Semibold", sans-serif;
  font-size: 20px;
  text-align-last: center;
  text-align: center;
  background: #1F3544;
  border: 3px solid #34495e;
  width: auto;
  transition: transform .2s;
  transition: 0.3s ease;
}

.lb2:focus {
  outline: none;
  animation-name: blink;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  border: 3px solid #34495e;
  transition: transform .2s;
  transition: 0.3s ease;
  ;
}

.lb3 {
  display: flex;
  white-space: normal;
  height: 40px;
  width: 350px;
  font-family: "Segoe UI Light", sans-serif;
  font-size: 20px;
  text-align: center;
  transition: transform .2s;
  transition: 0.3s ease;
}

.lb3:focus {
  outline: none;
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  background: #000000;
  transition: transform .2s;
  transition: 0.3s ease;
}

.lbn {
  display: flex;
  margin-left: 10px;
  margin-right: auto;
  margin-top: 18px;
  margin-bottom: 15px;
  height: 35px;
  width: 100%;
  color: #ebebeb;
  font-family: "Segoe UI Semibold", sans-serif;
  font-size: 15px;
}

.lb4 {
  margin: 0px;
  padding: 0px;
  height: 40px;
  width: 45px;
  padding-left: 10px;
  background: #1F3544;
  color: #ebebeb;
  border: 3px solid #34495e;
  font-family: "Segoe UI Semibold", sans-serif;
  font-size: 15px;
  transition: transform .2s;
  transition: 0.3s ease;
}

.lb4:focus {
  outline: none;
  animation-name: blink;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  border: 3px solid #34495e;
}

.qInputButtons {
  display: flex;
  flex-direction: column;
  height: 40px;
  width: 20px;
}

.qInputButtons div {
  display: flex;
  align-items: center;
}

.qInputUpClass {
  height: 20px;
  width: 20px;
  background: #1F3544;
  border-top: 3px solid #34495e;
  border-right: 3px solid #34495e;
  border-bottom: 1px solid #34495e;
  transition: transform .2s;
  transition: 0.3s ease;
}

.qInputUpClass:hover {
  background: #3E92CC;
  transition: transform .2s;
  transition: 0.3s ease;
}

.qInputDownClass:hover {
  background: #3E92CC;
  transition: transform .2s;
  transition: 0.3s ease;
}

.qInputDownClass {
  height: 20px;
  width: 20px;
  background: #1F3544;
  border-top: 1px solid #34495e;
  border-right: 3px solid #34495e;
  border-bottom: 3px solid #34495e;
  transition: transform .2s;
  transition: 0.3s ease;
}

.qInputTag {
  user-select: none;
  height: 20px;
  width: 20px;
  margin: 0px;
  margin-bottom: 1px;
  text-align: center;
  vertical-align: middle;
}

.lbnd {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-right: 0px;
  background: #3E92CC;
  height: 40px;
  width: 45px;
}

.lbnd:hover {
  background: #2E6B95;
  transition: transform .2s;
  transition: 0.3s ease;
}

.lbn div span {
  margin: auto;
  user-select: none;
  font-family: "Segoe UI Semibold", sans-serif;
  font-size: 20px;
}

.sideDown {
  margin-top: 10px;
  margin-bottom: auto;
  height: 15%;
  width: 95%;
  display: flex;
  align-items: flex-start;
}

.sideDown div {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 50px;
  height: 50px;
}

.buttonSaveClass {
  display: flex;
  width: 240px;
  background: #1F3544;
  border: 3px solid #56E39F;
  transition: transform .2s;
  transition: 0.3s ease;
}

.buttonSaveClass span {
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
  color: #FFFAFF;
  user-select: none;
  font-family: "Segoe UI", sans-serif;
  font-weight: 500;
  font-size: 23px;
}

.buttonSaveClass:hover {
  background: #56E39F;
  width: 260px;
  transition: transform .2s;
  transition: 0.3s ease;
  font-family: "Segoe UI", sans-serif;
  font-weight: 900;
}

.buttonSaveClass:hover>.iconSave {
  transition: transform .2s;
  transition: 0.3s ease;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
  width: 28px;
  content: url('../image/save1.png');
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-timing-function: linear;
  animation-iteration-count: linear;
  animation-name: bounce;
}

.buttonSaveClass:hover>span {
  margin-left: 25px;
  color: #254053;
}

.buttonClearClass {
  width: 150px;
  display: flex;
  background: #1F3544;
  border: 3px solid #3E92CC;
  transition: transform .2s;
  transition: 0.3s ease;
}

.buttonClearClass span {
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
  color: #FFFAFF;
  user-select: none;
  font-family: "Segoe UI", sans-serif;
  font-weight: 500;
  font-size: 23px;
}

.buttonClearClass:hover>.iconDelete {
  transition: transform .2s;
  transition: 0.3s ease;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
  width: 28px;
  content: url('../image/delete.png');
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-timing-function: linear;
  animation-iteration-count: linear;
  animation-name: bounce;
}

.buttonClearClass:hover {
  width: 180px;
  background: #3E92CC;
  transition: transform .2s;
  transition: 0.3s ease;
  font-family: "Segoe UI", sans-serif;
  font-weight: 900;
}

.buttonClearClass:hover>span {
  margin-left: 20px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@keyframes bounce {
  0% {
    transform: translateY(0) scale(1);
  }

  20% {
    transform: translateY(-5px) scale(1.05);
  }

  60% {
    transform: translateY(3px) scale(1.06);
  }

  80% {
    transform: translateY(3px) scale(1.1);
  }

  100% {
    transform: translateY(0) scale(1.1);
  }
}

/* ///////////////////////////////// */